@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

#box {
    margin:auto;
    background-color: rgb(102,137,191);
    width: 750px;
    height: 947px;
    margin: auto;
}

#Hovedskrift {
    font-family: Libre Baskerville;
    font-size: 65px;
    position: absolute;
    top: 20px;
    left: 635px;
    text-decoration: none;
    color: rgb(239,243,248);
}

#input_felt {
    width: 700px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position:absolute;
    margin-top: 700px;
    margin-left: 50px;
  }

  #submit_button {
    position:absolute;
    margin-top: 735px;
    margin-left: 50px;
    width: 90px;
    height: 35px;
  }

  #test {
    position:absolute;
    margin-top: 100px;
    margin-left: 50px;
    font-family: Libre Baskerville;
    font-size: 25px;
  }

  .checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    
  }

  #completionPercentage {
    position: absolute;
    margin-top: 850px;
    margin-left: 50px;
    font-family: Libre Baskerville;
    font-size: 35px;
    color: black;
  }

  #remove_marked {
    position: absolute;
    margin-top: 775px;
    margin-left: 50px;
  }

#bilde1 {
    position: absolute;
    margin-left: -24px;
    margin-top: -36px;
    height: 950px;
}
